body {
    background-image: url(https://assets.teenvogue.com/photos/5e6bffbbdee1770008c6d9bd/16:9/w_1920,c_limit/GettyImages-577674005.jpg);
}

.title {
    color: aliceblue;
    font-size: larger;
}